In [27]:
import pandas as pd

In [62]:
df = pd.read_csv('/content/synthetic_crop_data_1M.csv')

In [63]:
df.head(10)

        Crop    N    P    K   pH  moisture  temperature  humidity
0     cotton  130   36   25  5.1        64           36        22
1    coconut   18    9   37  5.1        71           16        51
2     papaya   60   42   59  6.5        81           31        25
3     coffee  107   19   25  5.7        84           20        23
4      apple   21  127  207  6.8        59           21        80
5     grapes   23  130  208  4.2        38           31        66
6    coconut   27   13   35  4.5        77           21        51
7     grapes   13  119  210  4.0        16           41        71
8  muskmelon  101   15   52  5.9        50           23        80
9   mungbean   14   31   30  5.2        97           26        89

In [64]:
df.isnull().sum()

Crop           0
N              0
P              0
K              0
pH             0
moisture       0
temperature    0
humidity       0
dtype: int64

In [65]:
df['Crop'].value_counts()

Crop
mothbeans      48118
orange         47854
kidneybeans    47853
pigeonpeas     47832
grapes         47801
lentil         47763
papaya         47703
banana         47699
pomegranate    47658
cotton         47656
coconut        47631
watermelon     47595
mango          47567
mungbean       47564
jute           47535
chickpea       47516
apple          47491
blackgram      47437
maize          47338
muskmelon      47309
coffee         47080
Name: count, dtype: int64

In [66]:
x = df.drop(columns='Crop', axis=1)
y = df['Crop']

In [67]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 7 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   N            1000000 non-null  int64
 1   P            1000000 non-null  int64
 2   K            1000000 non-null  int64
 3   pH           1000000 non-null  float64
 4   moisture     1000000 non-null  int64
 5   temperature  1000000 non-null  int64
 6   humidity     1000000 non-null  int64
dtypes: float64(1), int64(6)
memory usage: 53.4 MB

In [68]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000000 entries, 0 to 999999
Series name: Crop
Non-Null Count    Dtype
--------------    -----
1000000 non-null  object
dtypes: object(1)
memory usage: 7.6+ MB

In [69]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

In [70]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800000 entries, 854388 to 875688
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   N            800000 non-null  int64
 1   P            800000 non-null  int64
 2   K            800000 non-null  int64
 3   pH           800000 non-null  float64
 4   moisture     800000 non-null  int64
 5   temperature  800000 non-null  int64
 6   humidity     800000 non-null  int64
dtypes: float64(1), int64(6)
memory usage: 48.8 MB

In [71]:
y_train.info()

<class 'pandas.core.series.Series'>
Index: 800000 entries, 854388 to 875688
Series name: Crop
Non-Null Count   Dtype
--------------   -----
800000 non-null  object
dtypes: object(1)
memory usage: 12.2+ MB

In [72]:
# Decision Tree Classifier Model

from sklearn.tree import DecisionTreeClassifier

crop_model = DecisionTreeClassifier()

crop_model.fit(x_train, y_train)

y_pred = crop_model.predict(x_test)

from sklearn.metrics import accuracy_score

decision_tree_classifier = accuracy_score(y_test, y_pred)

print('Decision Tree Classifier Accuracy:', str(decision_tree_classifier))

Decision Tree Classifier Accuracy: 0.76257

In [73]:
import joblib

In [74]:
filename  = 'crop_prediction_model_large_data'

In [75]:
joblib.dump(crop_model, filename)

['crop_prediction_model_large_data']

In [76]:
app = joblib.load('crop_prediction_model_large_data')

In [91]:
arr = [[29,	18,	46,	24.879744,	37.002744,	4.502985,	116.935536]]
y_out = app.predict(arr)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [92]:
y_out

array(['pomegranate'], dtype=object)